.Header-titlebox {
    border: 5px solid white;
    border-radius: 5px;
    padding: 10px;
}

.Game-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
}

.React-img {
    width: auto;
    height: 10rem;
    animation: React-img-spin infinite 5s linear;
}

@keyframes React-img-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}